# list or dictionaries or tuples comprehension

In [6]:
nums = [i for i in range(int(input()))]

10

In [3]:
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
sqrs = [i**2 for i in range(1,10)]

In [5]:
sqrs

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
even = [i%2==0 for i in range(1,10)]

In [8]:
even

[False, True, False, True, False, True, False, True, False]

In [9]:
evens = [i for i in range(0,20,2)]

In [10]:
evens

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [12]:
odd = [j for  j in range(1,20,2)]

In [13]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [14]:
vals = [i for i in range(1,100) if i%2==0]

In [15]:
vals

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [17]:
val = [ i for i in range(1,100) if i%2!=0]

In [18]:
val

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [21]:
vals = [int(i) for i in input().split()]

1 23 4 5 6

In [22]:
vals

[1, 23, 4, 5, 6]

In [24]:
 vals = list(map(int,input().split()))

1 2 5 48  9 5

In [25]:
vals

[1, 2, 5, 48, 9, 5]

In [26]:
def int1(x):
    return int(x)
vals = list(map(int,input().split()))

1 65 8 9 42

In [27]:
vals

[1, 65, 8, 9, 42]

In [32]:
def  myfunc(a):
    return int(a)**3
vals = list(map(myfunc,input().split()))

1 1 5 8 21

In [33]:
vals

[1, 1, 125, 512, 9261]

In [36]:
# generate sum of cubes:
def  myfunc(a):
    return int(a)**3
sm = sum(list(map(myfunc,input().split())))
print(sm)

1 2 3 4 5
225

In [37]:
sm = sum(list(i for i in range(1,int(input()))))
print(sm)

10
45

In [39]:
sm = sum(list(i**2 for i in range(1,int(input()))))
print(sm)

5
30

In [40]:
# generate math table for a given number:
x = int(input())
[print(x,'*',i,'=',x*i) for i in range(1,11)]

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

[None, None, None, None, None, None, None, None, None, None]

In [41]:
 nums = list("even" if i%2==0 else "odd" for i in range(1,10))

In [42]:
nums

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [43]:
["second value is big" if int(input())<int(input()) else "first value is big"]

2
6

['second value is big']

In [47]:
# print 5 multiples in between 1 to 100
[i for i in range(1,111) if i%5==0]

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100,
 105,
 110]

In [46]:
[i for i in range(1,111) if i%2==0 and i%3==0]

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108]

In [49]:
[i for i in range(1,111) if i%2==0 if i%3==0]

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108]

In [51]:
[(i,j) for i in range(1,3) for j in range(1,6) if j%2==0]

[(1, 2), (1, 4), (2, 2), (2, 4)]

In [52]:
[(i,j) for i in range(1,3) for j in range(1,6)]

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5)]

# dictionary comprehension

In [53]:
{k:v for k,v in enumerate([1,2,3,4,5])}

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}

In [55]:
keys = ['name','rollno','age']
values = ['ravi',123,25]
d ={k:v for k,v in zip(keys,values)}

In [56]:
d

{'name': 'ravi', 'rollno': 123, 'age': 25}