# day objectives
- iterative statements
- jumping statements
- python Datastructures
   - list
   - tuple
   - dictionaries
   - sets

### iterative statements
- we can perform same operation again and again
- 2 types
  - for loop
  - while loop

In [5]:
range(7)
range(1,8)
range(1,10,2)

range(1, 10, 2)

In [8]:
'101' in '1010001010101'
'10100101'.count('1')

4

In [9]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [13]:
for j in range(2,10):
    print(j,end=",")

2,3,4,5,6,7,8,9,

In [15]:
for i in range(5,25,5):
    print(i,end=",")

5,10,15,20,

In [16]:
for j in range(2,20,2):
    print(j,end=" ")

2 4 6 8 10 12 14 16 18

In [26]:
for odd in range(1,101,2):
    print(odd,end=",")

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,

In [27]:
for even in range(0,100,2):
    print(even,end=",")

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,

In [29]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [32]:
for i in range(100,0,-2):
    print(i,end=",")

100,98,96,94,92,90,88,86,84,82,80,78,76,74,72,70,68,66,64,62,60,58,56,54,52,50,48,46,44,42,40,38,36,34,32,30,28,26,24,22,20,18,16,14,12,10,8,6,4,2,

In [37]:
for j in range(99,0,-2):
    print(j,end=",")

99,97,95,93,91,89,87,85,83,81,79,77,75,73,71,69,67,65,63,61,59,57,55,53,51,49,47,45,43,41,39,37,35,33,31,29,27,25,23,21,19,17,15,13,11,9,7,5,3,1,

In [40]:
name= "apssdc"
print(name[0])
print(name[-1])
print(name[len(name)-1])

a
c
c

In [41]:
for pos in range(len(name)): 
    print(name[pos])

a
p
s
s
d
c

In [43]:
for i in [1,2,3,45,5,6,7]:
    print(i,end=",")

1,2,3,45,5,6,7,

In [44]:
for ch in name:
    print(ch,end=",")

a,p,s,s,d,c,

In [47]:
n = int(input("enter a number"))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

enter a number3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [52]:
n = int(input("enter a number"))
for i in range(1,n+1):
    for j in range(1,11):
        print(i,"x",j,"=",i*j)
    print(" ")

enter a number2
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [63]:
n = int(input("enter a number"))
for i in range(1,11):
    for j in range(1,n+1):
        print(j,"x",i,"=",j*i,end="        ")
    print("")

enter a number5
1 x 1 = 1        2 x 1 = 2        3 x 1 = 3        4 x 1 = 4        5 x 1 = 5
1 x 2 = 2        2 x 2 = 4        3 x 2 = 6        4 x 2 = 8        5 x 2 = 10
1 x 3 = 3        2 x 3 = 6        3 x 3 = 9        4 x 3 = 12        5 x 3 = 15
1 x 4 = 4        2 x 4 = 8        3 x 4 = 12        4 x 4 = 16        5 x 4 = 20
1 x 5 = 5        2 x 5 = 10        3 x 5 = 15        4 x 5 = 20        5 x 5 = 25
1 x 6 = 6        2 x 6 = 12        3 x 6 = 18        4 x 6 = 24        5 x 6 = 30
1 x 7 = 7        2 x 7 = 14        3 x 7 = 21        4 x 7 = 28        5 x 7 = 35
1 x 8 = 8        2 x 8 = 16        3 x 8 = 24        4 x 8 = 32        5 x 8 = 40
1 x 9 = 9        2 x 9 = 18        3 x 9 = 27        4 x 9 = 36        5 x 9 = 45
1 x 10 = 10        2 x 10 = 20        3 x 10 = 30        4 x 10 = 40        5 x 10 = 50

In [65]:
# print *'s without using loopn=int(input("enter a number"))
n = int(input("enter a number"))
for i in range(1,n):
      print('*'*i)

enter a number10
*
**
***
****
*****
******
*******
********
*********

In [75]:

def big(a=0,b=0,c=0):
    if a>b & a>c:
        return a
    elif b>c:
        return b
    else:
        return c
p=int(input())
q=int(input())
r=int(input())
pi=big(p,q,r)
print("%d is biggest"%(pi))

5
6
9
9 is biggest

# a=int(input("enter a value"))
b=int(input("enter b value"))
c=int(input("enter c value"))
def small(a,b,c):
    if a<b and a<c:
        return a
    elif  b<c:
        return b
    else:
        return c
pi=small(a,b,c)
print("%d is small"%(pi))

In [2]:
def fact(n):
    f = 1
    for i in range(1,n+1):
        f= f*i
    return f

In [3]:
num = int(input("enter a number"))
print(fact(num))

enter a number5
120

# jumping statements:
 - break
 - continue

In [2]:
for i in range(1,100):
    if i==50:
        break
    print(i,end=",")

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,

In [3]:
for i in range(1,100):
    if i%5==0:
        continue
    print(i,end=",")

1,2,3,4,6,7,8,9,11,12,13,14,16,17,18,19,21,22,23,24,26,27,28,29,31,32,33,34,36,37,38,39,41,42,43,44,46,47,48,49,51,52,53,54,56,57,58,59,61,62,63,64,66,67,68,69,71,72,73,74,76,77,78,79,81,82,83,84,86,87,88,89,91,92,93,94,96,97,98,99,

### python datastructures
#### list
- it is a datatstructure 
- it is a mutable
- for defining list we are using[and]
- and it is also data type

In [6]:
li = [123,234,98,'amar']
print(type(li),li)

<class 'list'> [123, 234, 98, 'amar']

In [8]:
li = [123,234,98,'amar']
print(li[2])
print(li[0])

98
123

In [9]:
li[::-1]

['amar', 98, 234, 123]

In [10]:
l1 = [1,2,5,8,9,4]
print(li+l1)

[123, 234, 98, 'amar', 1, 2, 5, 8, 9, 4]

In [11]:
dir(li
)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [13]:
li.append("ravi")
li

[123, 234, 98, 'amar', 'ravi', 'ravi']

In [15]:
li.remove(98)
li

[123, 234, 'amar', 'ravi', 'ravi']

In [17]:
li.insert(2,495)
li

[123, 234, 495, 495, 'amar', 'ravi', 'ravi']

In [20]:
s=li.pop()
li

[123, 234, 495, 495]

In [22]:
li.append(s)
li

[123, 234, 495, 495, 'amar']

In [23]:
li

[123, 234, 495, 495, 'amar']

In [25]:
del l1
l1

NameError: name 'l1' is not defined

In [26]:
li1=li

In [27]:
li1,li

([123, 234, 495, 495, 'amar'], [123, 234, 495, 495, 'amar'])

In [30]:
li1.append(78)
li

[123, 234, 495, 495, 'amar', 78, 78]

In [31]:
li1

[123, 234, 495, 495, 'amar', 78, 78]

In [32]:
li1.remove(495)

In [33]:
li1

[123, 234, 495, 'amar', 78, 78]

In [34]:
li

[123, 234, 495, 'amar', 78, 78]

In [35]:
li4=li

In [36]:
li4

[123, 234, 495, 'amar', 78, 78]

In [37]:
li4.remove(234)

In [38]:
li4

[123, 495, 'amar', 78, 78]

In [39]:
li

[123, 495, 'amar', 78, 78]

In [41]:
li4

[123, 495, 'amar', 78, 78]

In [43]:
li4.append(12.3)
li

[123, 495, 'amar', 78, 78, 12.3, 12.3]

In [44]:
li4,li

([123, 495, 'amar', 78, 78, 12.3, 12.3],
 [123, 495, 'amar', 78, 78, 12.3, 12.3])

In [47]:
li.append(li4)

In [49]:
li=[12,56,86,14,"ram"]
li

[12, 56, 86, 14, 'ram']

In [52]:
li6=li.copy()

In [53]:
li6,li

([12, 56, 86, 14, 'ram'], [12, 56, 86, 14, 'ram'])

In [54]:
li6.append(58)

In [55]:
li6

[12, 56, 86, 14, 'ram', 58]

In [56]:
li6,li

([12, 56, 86, 14, 'ram', 58], [12, 56, 86, 14, 'ram'])

In [57]:
li.append(li6)
li

[12, 56, 86, 14, 'ram', [12, 56, 86, 14, 'ram', 58]]

In [58]:
li[5]

[12, 56, 86, 14, 'ram', 58]

In [59]:
li[5][1]

56

In [60]:
li.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [61]:
li.pop(4)

'ram'

In [62]:
li

[12, 14, 56, 86, [12, 56, 86, 14, 'ram', 58]]

In [63]:
lo.sort()

NameError: name 'lo' is not defined

In [64]:
li.pop(4)

[12, 56, 86, 14, 'ram', 58]

In [66]:
li

[12, 14, 56, 86]

In [67]:
li.sort()

In [68]:
li

[12, 14, 56, 86]

In [69]:
max(li)

86

In [70]:
min(li)

12

In [71]:
sum(li)

168

In [4]:
n = int(input())
var =list(map(int,input().split()))[:n]
print(sum(var))

5
1 2 3 4 5
15

In [10]:
# dynamic list generation
li = []
n = int(input("enter the size of list:"))
for i in range(n):
    val = int(input("enter value"))
    li.append(val)
print(li) 
print("max value is:",max(li))
print("min value is:",min(li))

enter the size of list:5
enter value3
enter value6
enter value9
enter value2
enter value3
[3, 6, 9, 2, 3]
max value is: 9
min value is: 2

# tuple 
- it is a datastructure
- it is a data type
- it is immutable

In [12]:
t = (20,52,85,"abhi")
t

(20, 52, 85, 'abhi')

In [13]:
t.index("abhi")

3

In [14]:
list(t)

[20, 52, 85, 'abhi']

# sets
- it is a datastructure
- it is a data type
- it is mutable
- {}

In [17]:
s = {1,2,4,5,6,7,2,5,5}
print(s)

{1, 2, 4, 5, 6, 7}

In [18]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
li =["abdul","anil","amar",]