In [5]:
names= input()
names = names.split()
for name in set(names):
    print(name,names.count(name))

ravi ram sam anil pasi sam ravi pasi
ravi 2
pasi 2
sam 2
anil 1
ram 1

In [8]:
s = input()
sm = 0
for ch in s:
    if ch.isdigit():
        sm+=int(ch)
sm

HSGvd123

6

In [12]:
s = input().split()
sm = 0
for ch in s:
    if ch.isdigit():
        sm+=int(ch)
sm

ahsdg 123 555

678

# day objective:
### dictionaries
- it is a data structure
- data stored in pair format i.e,key:value 
- for defining dictonary we can use {} or dict()
- key => max string
- values may be string,integer,list,tuple,set,dictionary

In [4]:
stu = {'name':'amar','rollno':123 ,'branch':'cse'}
stu

{'name': 'amar', 'rollno': 123, 'branch': 'cse'}

In [5]:
stu['name']

'amar'

In [6]:
stu['rollno']

123

In [8]:
stu['branch']

'cse'

In [9]:
stu['age'] = 23.5

In [10]:
stu

{'name': 'amar', 'rollno': 123, 'branch': 'cse', 'age': 23.5}

In [11]:
stu['rollno']=524

In [12]:
stu

{'name': 'amar', 'rollno': 524, 'branch': 'cse', 'age': 23.5}

In [13]:
dir(stu)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [14]:
stu.keys()

dict_keys(['name', 'rollno', 'branch', 'age'])

In [15]:
stu.values()

dict_values(['amar', 524, 'cse', 23.5])

In [16]:
stu.items()

dict_items([('name', 'amar'), ('rollno', 524), ('branch', 'cse'), ('age', 23.5)])

In [18]:
stu.popitem()

('age', 23.5)

In [19]:
stu.pop('branch')

'cse'

In [22]:
marks = {}.fromkeys(['java','python','c','c++'],0)

In [23]:
marks

{'java': 0, 'python': 0, 'c': 0, 'c++': 0}

In [25]:
marks.setdefault('c',61)

0

In [26]:
marks.setdefault('bigdta',65)

65

In [27]:
marks

{'java': 0, 'python': 0, 'c': 0, 'c++': 0, 'bigdta': 65}

In [29]:
d = {}
names = input().split()
for name in set(names):
    d[name] = names.count(name)
d

ravi rami ram sam pasi sam

{'ram': 1, 'rami': 1, 'sam': 2, 'pasi': 1, 'ravi': 1}

In [1]:
d1 = dict()
names = input().split()
for indpos,value in enumerate(names):
    print(indpos,value)

ravi ram sam anil pasi sam ravi pasi
0 ravi
1 ram
2 sam
3 anil
4 pasi
5 sam
6 ravi
7 pasi

In [4]:
d1 = dict()
names = input().split()
for indpos,value in enumerate(names):
    d1[indpos] = value
d1

ravi ram sam anil pasi sam ravi pasi

{0: 'ravi',
 1: 'ram',
 2: 'sam',
 3: 'anil',
 4: 'pasi',
 5: 'sam',
 6: 'ravi',
 7: 'pasi'}

In [3]:
d2 = {}
keys = list()
values = []
n = int(input("enter the keys and values range:"))
for i in range(n):
    key = input("enter keys:")
    keys.append(key)
    value = input("enter values:")
    values.append(value)
for i in range(len(keys)):
    d2[keys[i]]=values[i]
d2

enter the keys and values range:3
enter keys:ram
enter values:527
enter keys:sam
enter values:167
enter keys:sunil
enter values:258

{'ram': '527', 'sam': '167', 'sunil': '258'}

In [4]:
stuinfo = {'names':['kiran','gokul','pasi','charan'],'rollno':[520,526,529,516]}
stuinfo

{'names': ['kiran', 'gokul', 'pasi', 'charan'], 'rollno': [520, 526, 529, 516]}

In [ ]:
names = []
mbnos = []
cinfo = {}
words = input().split()
for word in words:
    if word.isdigit()